<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.while42.rpgcs"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="12" />

    <application
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".activity.Splash"
            android:label="@string/app_name" >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        <activity
            android:name=".activity.RpgCharacterTest"
            android:label="@string/app_name" >
        </activity>

        <!-- Activity de Teste da Nova Tela da Play -->
        <activity
            android:name=".activity.PlayRpgCharacterNew"
            android:label="@string/play_title_activity" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".activity.EditRpgCharacter"
            android:label="@string/edit_title_activity" >
        </activity>
        <activity
            android:name=".activity.ListRpgCharacters"
            android:label="@string/list_title_activity" >
        </activity>
        <activity
            android:name=".activity.PlayRpgCharacter"
            android:label="@string/play_title_activity" >
        </activity>
        <activity
            android:name=".activity.FeatsRpgCharacter"
            android:label="@string/feats_title_activity" >
        </activity>
        <activity
            android:name=".activity.EquipmentRpgCharacter"
            android:label="@string/equipment_title_activity" >
        </activity>
        <activity
            android:name=".activity.ItemsRpgCharacter"
            android:label="@string/items_title_activity" >
        </activity>
        <activity
            android:name=".activity.TreasureRpgCharacter"
            android:label="@string/treasure_title_activity" >
        </activity>
        <activity
            android:name=".activity.MagicAndSpellsRpgCharacter"
            android:label="@string/magic_spells_title_activity" >
        </activity>
        <activity
            android:name=".activity.FamiliarRpgCharacter"
            android:label="@string/familiar_title_activity" >
        </activity>
        <activity
            android:name=".activity.NotesRpgCharacter"
            android:label="@string/notes_title_activity" >
        </activity>
    </application>

</manifest>